[submodule "third_party/lib/mathgp"]
	path = third_party/lib/mathgp
	url = https://github.com/iboB/mathgp.git
[submodule "third_party/lib/imgui"]
	path = third_party/lib/imgui
	url = https://github.com/iboB/imgui.git
[submodule "third_party/lib/freetype"]
	path = third_party/lib/freetype
	url = https://github.com/iboB/freetype.git
[submodule "third_party/lib/libRocket"]
	path = third_party/lib/libRocket
	url = https://github.com/iboB/libRocket.git
